/* line 1, ../../app/stylesheets/application.scss */
#words {
  /*
  .editing {
    .show {
      display: none;
    }
    .edit {
      display: block;
    }
  }
  */
}
/* line 12, ../../app/stylesheets/application.scss */
#words .edit {
  display: none;
}
