@import "buttons";
@import "errors";

#logo {
  font-family: 'Reenie Beanie', arial, cursive;
  font-size: 72px;
  #define { }
  #ly { color:green; }
}

#try-link {
  font-family: verdana;
  font-size: 16px;
}

h1 {
  font-size: 24px;
  margin: 12px 0;
}

strong { font-weight:bold; }

.center {
  margin: 0px auto 0px auto;
  text-align: center;
}

label { display: block; }

.field, .actions { 
  margin-bottom: 10px;
}
