<script type="text/template" id="entry-template"> 
  <div class="entry">
    <div class="display">
      <div class="entry-word"></div>
      <div class="entry-definition"></div>
      <span class="entry-destroy"></span>
    </div>
    <div class="edit">
      <input class="entry-word-input" type="text" value="">
      <input class="entry-definition-input" type="text" value="">
    </div>
  </div>
</script> 
